# Step 0: create an IAM Role with AdministratorAccess in your AWS Account
needs programming rights and you have to save the key and secret

In [40]:
import pandas as pd
import boto3
import json

## Load DWH Params from a config file

In [41]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

CLUSTER_TYPE       = config.get("DWH","CLUSTER_TYPE")
NUM_NODES          = config.get("DWH","NUM_NODES")
NODE_TYPE          = config.get("DWH","NODE_TYPE")
CLUSTER_IDENTIFIER = config.get("DWH","CLUSTER_IDENTIFIER")

DB_NAME            = config.get("CLUSTER","DB_NAME")
DB_USER            = config.get("CLUSTER","DB_USER")
DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DB_PORT               = config.get("CLUSTER","DB_PORT")

IAM_ROLE_NAME      = config.get("IAM_ROLE", "IAM_ROLE_NAME")

(DB_USER, DB_PASSWORD, DB_NAME)

pd.DataFrame({"Param":
                  ["CLUSTER_TYPE", "NUM_NODES", "NODE_TYPE", "CLUSTER_IDENTIFIER", "DB_NAME", "DB_USER", "DB_PASSWORD", "DB_PORT", "IAM_ROLE_NAME"],
              "Value":
                  [CLUSTER_TYPE, NUM_NODES, NODE_TYPE, CLUSTER_IDENTIFIER, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT, IAM_ROLE_NAME]
             })

                Param            Value
0  CLUSTER_TYPE        multi-node
1  NUM_NODES            4
2  NODE_TYPE           dc2.large
3  CLUSTER_IDENTIFIER  clustersparkify
4  DB_NAME             db_sparkify
5  DB_USER             awsuser
6  DB_PASSWORD         AWSproject_dwh3
7  DB_PORT             5439
8  IAM_ROLE_NAME       redshift_role

# Create clients for IAM, EC2, S3 and Redshift

In [42]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Step 1: Create an IAM ROLE

In [43]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name redshift_role already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::660656230448:role/redshift_role

# Step 2: Create Redshift Cluster

In [44]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=CLUSTER_TYPE,
        NodeType=NODE_TYPE,
        NumberOfNodes=int(NUM_NODES),

        #Identifiers & Credentials
        DBName=DB_NAME,
        ClusterIdentifier=CLUSTER_IDENTIFIER,
        MasterUsername=DB_USER,
        MasterUserPassword=DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 Describe Cluster to see its status

In [47]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', 3)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,clustersparkify
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,awsuser
4,DBName,db_sparkify
5,Endpoint,"{'Address': 'clustersparkify.cfgyb89z2prn.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0a12e71f43a470c0f
7,NumberOfNodes,4

- run this block until the ClusterStatus changes to available

## 2.2 Take note of the cluster endpoint and role ARN

In [48]:
HOST = myClusterProps['Endpoint']['Address']
ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", HOST)
print("DWH_ROLE_ARN :: ", ARN)

DWH_ENDPOINT ::  clustersparkify.cfgyb89z2prn.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::660656230448:role/redshift_role

# Step 3: Open an incoming TCP port to access the cluster endpoint

In [49]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0040d7512dc21dbb1')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# Step 4: Make sure you can connect to the cluster

In [50]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [51]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://awsuser:AWSproject_dwh3@clustersparkify.cfgyb89z2prn.us-west-2.redshift.amazonaws.com:5439/db_sparkify

'Connected: awsuser@db_sparkify'

# Step 5: Clean up your resources

In [71]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'clustersparkify',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'ClusterAvailabilityStatus': 'Modifying',
  'MasterUsername': 'awsuser',
  'DBName': 'db_sparkify',
  'Endpoint': {'Address': 'clustersparkify.cfgyb89z2prn.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2024, 8, 21, 12, 38, 49, 997000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0040d7512dc21dbb1',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0a12e71f43a470c0f',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'thu:13:00-thu:13:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::660656230448:role/redshift_role',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': [],
  'NextMaintenanceWindowStartTime': datetime.datetime(2024, 8, 22, 13, 0, tzinfo=tzutc()),
  'ClusterNamespaceArn': 'arn:aws:redshift:us-west-2:660656230448:namespace:73ae6984-0c96-494c-9a52-22fcc5b7a79a',
  'TotalStorageCapacityInMegaBytes': 1600000,
  'AquaConfiguration': {'AquaStatus': 'disabled',
   'AquaConfigurationStatus': 'auto'},
  'MultiAZ': 'Disabled'},
 'ResponseMetadata': {'RequestId': 'ffd1e330-0b02-471b-92ea-b3dba13bd52b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'ffd1e330-0b02-471b-92ea-b3dba13bd52b',
   'content-type': 'text/xml',
   'content-length': '2906',
   'date': 'Wed, 21 Aug 2024 13:26:27 GMT'},
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [72]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,clustersparkify
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,awsuser
4,DBName,db_sparkify
5,Endpoint,"{'Address': 'clustersparkify.cfgyb89z2prn.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0a12e71f43a470c0f
7,NumberOfNodes,4

In [46]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '89273f6f-6c02-44aa-9d0d-633fccef3519',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 20 Aug 2024 11:30:55 GMT',
   'x-amzn-requestid': '89273f6f-6c02-44aa-9d0d-633fccef3519',
   'content-type': 'text/xml',
   'content-length': '200'},
  'RetryAttempts': 0}}

# Example Queries

In [52]:
import psycopg2

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [56]:
%%sql

SELECT count(*) FROM songs

 * postgresql://awsuser:***@clustersparkify.cfgyb89z2prn.us-west-2.redshift.amazonaws.com:5439/db_sparkify
(psycopg2.errors.SyntaxError) syntax error at or near "count"
LINE 1: count = SELECT count(*) FROM songs
        ^

[SQL: count = SELECT count(*) FROM songs
print(count)]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [69]:
%%sql

SELECT sp.start_time, u.first_name, s.title
FROM songplay AS sp 
JOIN users AS u ON sp.user_id = u.user_id 
JOIN songs AS s ON sp.song_id = s.song_id
WHERE sp.song_id = 'SOVAEBW12AB0182CE6'

 * postgresql://awsuser:***@clustersparkify.cfgyb89z2prn.us-west-2.redshift.amazonaws.com:5439/db_sparkify
2 rows affected.

[(datetime.datetime(2018, 11, 13, 18, 39, 37, 796000), 'Lily', 'Mise En Bouche'),
 (datetime.datetime(2018, 11, 13, 18, 39, 37, 796000), 'Lily', 'Mise En Bouche')]

In [70]:
conn.close()